@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 5px;
}

.container .box {
    position: relative;
    width: 150px;
    height: 150px;
    background: rgba(45,45,45,1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    background: radial-gradient(var(--clr),transparent,transparent);
    width: 300px;
    height: 300px;
    transition: 0.5s, top 0.1,left 0.1;
}

.container .box::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: rgba(45,45,45,0.9);
}

.login {
    position: absolute;
    width: 450px;
    height: 600px;
    padding: 60px 40px;
    text-align: center;
    pointer-events: none;
}

.login h2 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 60px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    pointer-events: all;
}

.login .inputBox {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.login .inputBox input {
    width: 100%;
    padding: 20px 25px;
    outline: none;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    border: 1px solid #000;
    backdrop-filter: blur(10px);
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    pointer-events: all;
    font-weight: bold;
}

.login .inputBox span {
    position: absolute;
    font-size: 1em;
    left: 0;
    padding: 20px 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 4px;
    transition: 0.25s;
    pointer-events: none;
    font-weight: bold;
}

.login .inputBox input:focus ~ span,
.login .inputBox input:valid ~ span {
    transform: translate(-15px,-10px);
    font-size: 0.75em;
    background: #fff;
    color: #222;
    padding: 2px 5px;
    pointer-events: all;
    font-weight: bold;
}

.login .inputBox input[type="submit"] {
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.25s;
}

.login .inputBox input[type="submit"]:hover {
    background: #0f0;
    box-shadow: 0 0 15px #0f0,
    0 0 30px #0f0;
    color: #222;
    border:1px solid transparent;
    font-weight: 600;
}

.group {
    position: relative;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

}

.group a {
    color: #fff;
    background: #f0f;
    font-weight: 500;
    padding: 2px 5px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    border-radius: 4px;
    box-shadow: 0 0 15px #f0f,
    0 0 30px #f0f,
    0 0 60px #f0f;
    pointer-events: all;
}

.group p {
    color: #fff;
    font-size: 1.2em;
}

.p1 {
    color: #fff;
}